.logo_custom {
  align-items: center;
  border-width: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;
  img {
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;
  }
}

.pelicula {
  background-color: rgba(0, 78, 76, 0.5);
  z-index: 1000;
}

.saude {
  background-color: green;
  color: white;
}

#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  display: inline-block;
  margin-right: 10px;
}

#navigation a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

#navigation a:hover {
  color: #ff5733;
}
